body {
  /*padding: 50px;*/
  font: 14px Helvetica Neue,"Lucida Grande", "Helvetica", Arial, sans-serif;
   font-weight : 300;
   background-color:#f5f8fa;
}
.btn-custom{
	color:white;
	border-color:#58AEEA;
	background-color : #58AEEA;
	    width: 200px;
   /* margin-left: 25%;*/
}
a {
 /* color: #00B7FF;*/
}
.login{
	margin-right : 20px;
	color : white;
	font-weight : 500;
	margin-top: 10px;
	text-decoration : underline;
}
.navbar.navbar-default{
	padding : 0 20px;
	}
	
.topbar{
  width : 100%;
  height : 50px;
  background-image : linear-gradient(to right, #58AEEA,#35CE93);
}

.tweetfeed_parent{
	padding : 0 25px;
}

.tweetbox{
 
  background : #E5F2F7;
  
}

#tweetspace{
 width : 75%;
  flex-basis : 5rem;

   margin-left:5%;
  margin-top :  2%; 
  align-self:center;
  margin-bottom : 2%;
}
.submit_tweet{
 width : 80px;
height : 40px;
  align-self : flex-end;
  margin-right : 5%;
  border : 0;
  margin-bottom : 2%;
}
.tweet_form{
  display : flex;
  flex-direction: column;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.retweet{
  align-self : flex-start;
    background: transparent;
    border: none !important;
}

.tweet_buttons{
	display:flex;
	flex-direction : row;
	justify-content : space-between;
}

.tweet_area{
	 display : flex;
  flex-direction : row;
  background-color:#fff;
  
  height : 70px;
  margin : 10px auto;
}

.tweet_content{
  display:flex;
  flex-direction : column;
  justify-content : space-around;
}
.image{
  flex-basis : 25rem;
}
.flex_parent{
    display:flex;
    flex-direction : row;
}
.flex_child{
    display:flex;
    flex-direction : column;
}