<!DOCTYPE html>
<html>
  <head>
    <title>Sign up page</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> 
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    	<link rel="stylesheet"
    		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
    	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>

  <body>
  

    <div id = "signupFieldsDiv" align = "center" data-ng-app="twitterSignUp" data-ng-controller="signUpController">
    <div class="headerSignup"></div>
    <h1>Join Twitter today</h1>
    <br/>
    <input type = "text" placeholder="Full Name" data-ng-model = "fullname" name = "user" id="fullnametext"/>
    <br/>
    <br/>
    
    <input type = "email" placeholder="Email" data-ng-model = "phoneOrEmail" id = "emailtext"/>
    <br/>
    <br/>
    
    <input type = "password" placeholder="password" data-ng-model = "password" name = "pass" id="passwordtext"/>
    <br/>
    <br/>
    
    <p>Tailor Twitter based on my recent website visits.<p><a href>Learn more.</a>
    <input type="submit" data-ng-click="signup()" value="SIGN UP" class="btn btn-lg" style="height:50px","width: 500px","background-color: #3399ff","color:white"/>
    </div>
    
    <script>
		
    var app=angular.module('twitterSignUp',[]);
    app.controller('signUpController', function($scope,$http,$location){
		    	$scope.signup = function(){
		    			$http({
		    				method:"POST",
		    				url	  :'/afterSignUp', 
		    				data  :{
		    					"fullname" : $scope.fullname,
		    					"phoneOrEmail" : $scope.phoneOrEmail,
		    					"password" : $scope.password
		    				}
		    			}).success(function(data) {
		    				//checking the response data for statusCode
		    				if (data.statusCode == 401) {
		    					$scope.invalid_login = false;
		    					$scope.unexpected_error = true;
		    				}
		    				else
		    					//Making a get call to the '/redirectToHomepage' API
		    					window.location.assign("/SignUpSuccessful"); 
		    			}).error(function(error) {
		    				$scope.unexpected_error = false;
		    				$scope.invalid_login = true;
		    			});
		    	};
    });
    </script>
  </body>
</html>